<div class="container">
<div class="row">
  <div class="col-md-12" data-wow-delay="0.2s">
    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      <!-- Bottom Carousel Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="http://127.0.0.1:8000/media/DSC_3596.JPG"/>
        </li>
      </ol>

      <!-- Carousel Slides / Quotes -->
      <div class="carousel-inner text-center">

        <div class="item active">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <p>Autorski projekt aplikacji internetowej oparty na jednym serwerze i jednej bazie danych.
                    Strona zawiera takie funkcjinalności jak dodawanie/edytowanie i usuwanie rejestrów z bazy danych,
                    wyświetalnie rejestrów z bazy danych, rejestracje i logowanie użytkownika przy użyciu tokenów.
                    W zamyśle autora aplikacja służy do dzielenia się wśród użytkowników gotowymi wycieczkami lub pomysłami
                    na nie. Tematyka strony wybrana została w oparciu o zainteresowania autora. Aplikacja może zostać
                    rozszerzona o takie funkcjonalości jak wyszukiwanie postów z zastosowaniem różnych kryteriów, możliwość
                    komentowania i oceniania postów innych użytkowników oraz komunikację pomiędzy użytkownikami.</p>
                <small>Michalina Mordas</small>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="divider"/>
